name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
          os: [macos-latest, windows-latest, ubuntu-latest]
          sdk: ['3.8']
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      
      - name: Install lcov (macOS)
        if: matrix.os == 'macos-latest'
        run: brew install lcov

      - name: Install lcov (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          choco install lcov
          echo "C:\ProgramData\chocolatey\lib\lcov\tools\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install lcov (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install -y lcov

      - name: Test and generate coverage report
        run: make tests_with_coverage_report

      - name: Upload coverage to Coveralls
        if: matrix.os == 'ubuntu-latest' && matrix.sdk == '3.8'
        uses: coverallsapp/github-action@v2

  format-markdown:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Format Markdown with markdownlint
        run: |
          npm install -g markdownlint-cli
          markdownlint --disable MD013 MD033 --fix . --ignore CODE_OF_CONDUCT.md --ignore CHANGELOG.md
          git add -A
          git diff --cached --exit-code
